@media print {
    html, body {
        font-size: 12px;
        line-height: 1.15;
        margin: 0;
        --font-size-sm: 0.8rem;
        --font-size-lg: 1.1rem;
        --font-size-xl: 1.15rem;
        --font-size-huge: 1.2rem;

        background-color: white;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }

    h2 {
        margin: 0.75rem 0;
    }

    h3 {
        margin-top: 0.75rem;
    }

    .grid-container {
        max-width: 720px;

        grid-template-areas:
        "title title title"
        "summary summary summary"
        "education experience experience"
        "skills experience experience"
        "skills testimonials testimonials"
        "products products products";
    }

    .item {
        padding: 0.5rem;
    }

    .contact {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: var(--font-size-regular);
    }

    .education-item .bullets {
        list-style-type: none;
        padding-left: 0;
        padding-inline-start: 0;
        margin-top: 0.25rem;
    }

    .products-section {
        border: none;
    }

    .page {
        height: 1020px;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
