html, body {
    --color-primary: #0072EE;
    --color-background: #C5C6D0;
    --color-white: #FFFFFF;
    --color-text: #000000;

    --font-size-regular: 1rem;
    --font-size-sm: 0.8rem;
    --font-size-lg: 1.4rem;
    --font-size-xl: 1.6rem;
    --font-size-huge: 1.8rem;

    font-size: 16px;
    background: var(--color-background);

    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 2rem;
}

h1 {
    font-size: var(--font-size-huge);
}
h2 {
    font-size: var(--font-size-xl);
}
h3 {
    font-size: var(--font-size-regular);
}
h4 {
    font-size: var(--font-size-sm);
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.grid-container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 0.5rem;

    grid-template-areas:
        "title title title"
        "summary summary summary"
        "education experience experience"
        "skills experience experience"
        "products products products"
        "testimonials testimonials testimonials" ;
}

.item {
    padding: 2rem;
    background-color: var(--color-white);
    color: black;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid var(--color-background);
}

.about-section {

}
.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--font-size-regular);
}

.summary-section h2 {
    text-align: center;
    margin: 0;
}

.summary-section {
    text-align: justify;
    font-size: var(--font-size-regular);
}

.education-section h2 {
    text-align: center;
}

.education-section {
    text-align: left;
    font-size: var(--font-size-regular);
}

.skills-section {
    text-align: left;
    font-size: var(--font-size-regular);
}
.skills-section h2 {
    text-align: center;
}

.experience-section h2 {
    text-align: center;
}

.experience-section {
    text-align: left;
    font-size: var(--font-size-regular);
}

.products-section h2 {
    text-align: center;
}

.products-section {
    text-align: left;
    font-size: var(--font-size-regular);
}
